<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="site-footer">
    <div class="site-footer-inner">
        <div class="site-footer-row">
            <div th:replace="~{fragments/site-logo :: footerMark}"></div>
            <p class="site-footer-copy">
                &copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}">2026</span> GameVault. All rights reserved.
            </p>
        </div>
        <p class="site-footer-attribution">
            Game information is provided by
            <a href="https://www.igdb.com" target="_blank" rel="noopener noreferrer">IGDB</a>.
            GameVault is not affiliated with IGDB or Twitch.
        </p>
    </div>
    <th:block th:if="${navAuthenticated}">
        <div th:replace="~{modals/log-play-modal :: modal (${logPlayModalPageHasPlayLogs}, ${logPlayModalPageLastPlayedRel}, ${logPlayModalPagePlaySessionCount}, ${logPlayModalPageLastPlayedCalendar}, ${logPlayModalPageTotalPlayLabel})}"></div>
        <script defer th:src="@{/js/log-play-modal.js}"></script>
        <div th:replace="~{fragments/floating-session-timer :: widget}"></div>
    </th:block>
    <script defer th:src="@{/js/flash-dismiss.js}"></script>
    <script defer th:src="@{/js/navbar-mobile.js}"></script>
    <script defer th:if="${navAuthenticated}" th:src="@{/js/floating-session-timer.js}"></script>
</footer>
</body>
</html>
