<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <footer th:fragment="footer" class="site-footer">
      <div class="site-footer-inner">
        <div class="site-footer-row">
          <div th:replace="~{fragments/layout/site-logo :: footerMark}"></div>
          <p class="site-footer-copy">
            &copy;
            <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"
              >2026</span
            >
            GameVaultr. All rights reserved.
          </p>
        </div>
        <p class="site-footer-contact">
          <a th:href="@{/privacy}">Privacy</a>
          <span aria-hidden="true"> · </span>
          <a th:href="@{/contact}">Contact</a>
        </p>
        <p class="site-footer-attribution">
          Game information is provided by
          <a
            href="https://www.igdb.com"
            target="_blank"
            rel="noopener noreferrer"
            >IGDB</a
          >. GameVaultr is not affiliated with IGDB or Twitch.
        </p>
      </div>
      <th:block th:if="${navAuthenticated}">
        <div
          th:replace="~{modals/log-play-modal :: modal (${logPlayModalPageHasPlayLogs}, ${logPlayModalPageLastPlayedRel}, ${logPlayModalPagePlaySessionCount}, ${logPlayModalPageLastPlayedCalendar}, ${logPlayModalPageTotalPlayLabel})}"
        ></div>
        <script defer th:src="@{/js/log-play-modal.js}"></script>
        <div
          th:replace="~{fragments/widgets/floating-session-timer :: widget}"
        ></div>
      </th:block>
      <script defer th:src="@{/js/ui/flash-dismiss.js}"></script>
      <script defer th:src="@{/js/layout/navbar-mobile.js}"></script>
      <script
        defer
        th:if="${navAuthenticated}"
        th:src="@{/js/widgets/floating-session-timer.js}"
      ></script>
    </footer>
  </body>
</html>
